---
# Following the sample role CI
# https://github.com/geerlingguy/ansible-role-apache/blob/master/.travis.yml

sudo: required

env:
  - switch_image: 'openswitch/genericx86-64'
    switch_init: /sbin/init
    role_under_test: switch
    distribution: ubuntu
    version: 14.04
    init: /sbin/init
    run_ops: ""

services:
  - docker

before_install:
  # OpenSwitch container
  - 'sudo docker pull ${switch_image}'

  # Ansible control machine container
  - 'sudo docker pull ${distribution}:${version}'
  - 'sudo docker build --rm=true --file=tests/Dockerfile.${distribution}-${version} --tag=${distribution}-${version}:ansible tests'

script:
  - switch_id=$(mktemp)
  - ansible_id=$(mktemp)

  # Run OpenSwitch container
  - 'sudo docker run --privileged --detach -v /tmp:/tmp -v /dev/log:/dev/log -v /sys/fs/cgroup:/sys/fs/cgroup -v "${PWD}/tests/.ssh":/home/admin/.ssh -p 10022:22 "${switch_image}" "${switch_init}" > "${switch_id}"'

  # Run Ansible control machine container in detached state
  - 'sudo docker run --detach --volume="${PWD}":/etc/ansible/roles/${role_under_test}:ro ${run_ops} ${distribution}-${version}:ansible "${init}" > "${ansible_id}"'

  # Ansible syntax check
  - 'sudo docker exec --tty "$(cat ${ansible_id})" env TERM=xterm ansible-playbook /etc/ansible/roles/${role_under_test}/tests/test.yml --syntax-check'

  # Clenaup
  - 'sudo docker stop "$(cat ${ansible_id})"'
  - 'sudo docker stop "$(cat ${switch_id})"'

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
